@import './base.css';
@import 'primeicons/primeicons.css';
@import "tailwindcss";
/* @plugin "tailwindcss-primeui"; */

html {
  min-height:100%;
  height:100%;
}

body {
  min-height: 100%;
  height:100%; 
  margin: 0;
  padding: 0;
}

#app {
  margin: 0 auto;
  padding: 6em 2em 2em 2em;
  font-weight: normal;
  display: grid;
  grid-template-columns: 14em 1fr;
  gap: 2em;
}

main {
  height: fit-content;
  display: grid;
  grid-auto-flow: row;
  gap: 2em;
}

.center-h {
  display: grid; 
  justify-content: center;
}

.center-v {
  display: grid; 
  align-items: center;
}

.centered {
  display: grid; 
  justify-content: center;
  align-items: center;
}
