@import './base.css';
@import 'primeicons/primeicons.css';


#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

html {
  min-height:100%;
  height:100%;
}

body {
  min-height: 100%;
  height:100%; 
}

main {
  display: inline-block;
  min-height: 100%;
  height: 100%;
  max-width: 100%;
  padding: 3rem 0 0 15rem;  
}

.center-h {
  display: grid; 
  justify-content: center;
}

.center-v {
  display: grid; 
  align-items: center;
}

.centered {
  display: grid; 
  justify-content: center;
  align-items: center;
}
